apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-dpl
  namespace: prod
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: mzain/argo:v1
        ports:
        - containerPort: 80
